.v1{
    border-left: 6px solid wheat;
    height: 600px; 
    position: absolute;
    left: 50%;
}
h3{
    color: rgb(138, 194, 88);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 17px;
}
.birth{
    color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    padding-top: 12px;
    position: relative;
    left: 5%;
}