.big-container{
    display: flex;
}
.krishna{
    height: 290px;
    width: 250px;
    padding-left: 290px;
}
.content{
    color: aliceblue;
    width: 30%;
    position: relative;
    left: 190px;
    margin-top: 55px;
    padding-left: 58px;
    padding-top: 22px;
    border: 1px solid;
    box-shadow: 12px 12px rgb(34, 5, 63);
}
blockquote{
    color: bisque;
}