.footer-distributed {
  box-shadow: 0 9px 9px rgba(37, 8, 93, 0.1);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 19px;
  bottom: 0;
  color: aliceblue;
  border: 1px solid #15033a;
  border-radius: 7px;
}
@media (max-width: 450px) {
  .footer-distributed {
  text-align: center;
  }
  
}

