.footer-distributed {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 42px 50px;
  position:fixed;
  bottom: 0;
  color: aliceblue;
  border: 2px solid rgb(126, 141, 227);
  border-radius: 8px;
}
@media (max-width: 600px) {
  .footer-distributed {
  text-align: center;
  }
  
}