* {
  margin: 0;
  padding: 0;
  background-color: #14032d;
}

li,
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
  list-style: none;
}

.nav-container {
  display: flex;
  align-items: center;
  box-shadow: 0 7px 7px rgba(172, 168, 168, 0.1);
   margin-bottom: 22px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin-left: 150px;
}
.logo{
  height: 100px;
  width: 200px;
}
.nav-links li {
  margin: 0 25px;
}
@media only screen and (max-width: 600px) {
  .nav-container{
    display: flex;
    flex-direction: column;
  }
}